<div id="burgerimg">
 <img src="assets/img/burger_img.png" alt="burger icon" width="200px" height="200px">
</div>
<h1>Eat-Da-Burger!</h1>
<hr>

<form class="button-size" id="addburgerbtn">
 <h3>Add a Burger</h3>
 <textarea type="text" name="burger_name" id="newBurger"></textarea>
 <br>
 <button type="submit" id="addburger">Order</button>
</form>

<div id="menu">
 <h2>Menu</h2>
 <ul>
   {{#each burgers}}
   {{#unless devoured}}
   <li>
     <p>
       {{this.id}}. {{this.burger_name}}

       <button data-id="{{this.id}}" class="devourBtn">Devour</button>
     </p>
   </li>
   {{/unless}}
   {{/each}}
 </ul>

</div>

<aside id="devoured_burger">
 <h2>Devoured Burgers:</h2>
 <ul>
   {{#each burgers}}
   {{#if devoured}}
   <li>
     <p>
       {{this.id}}. {{this.burger_name}}
     </p>
   </li>
   {{/if}}
   {{/each}}
 </ul>
</aside>